body {
	margin-top:-40px;
	background-color: #0099cc;
}



.osiHeader {
	font-size: 4em;
	color: #ffd700;
}

/*Style the OSI layers*/
.osiLayers {
	border: thick solid #66ccff;
	display: flex;



}

.osiLayersNames,
.osiLayersNumbers{
	border: thick solid #66ccff;
	flex-grow: 1;
}

.osiLayersNames div,
.osiLayersNumbers div{
	border: thick solid white;
	color: #ffd700;
	font-size: 2em;
	min-width: 4.5em;
}

.osi {
	background-color: #66ccff;
	border: thick solid #32a1ce;
	width: 100%;
	min-height: 100px;
}




.answerCard {
	background-color: #99ccff;
	border: thick solid #32a1ce;
	width: 100%;
	height: 100%;
}



.score {
	background-color: #0099ff;
	border: thick solid #32a1ce;
	width: 98%;
	height: 50px;
}


/*I decided to use grid to make my layout this time*/
.mainStructure {
  margin-top:-30px;
  display: grid;
  grid-template-areas:
      "osi answerCard"
      "osi answerCard"
      "score answerCard"
	  "questionCard questionCard";
  grid-template-columns: 1fr 3fr;
  gap: 0px;
}

.osi {
  grid-area: osi;
}

.answerCard {
  grid-area: answerCard;
}

.questionCard {
  grid-area: questionCard;
  height: 300px;
}

.score {
  grid-area: score;
}



/*Style the question card*/
.questionImage {
	float: left;
	margin-right: 1em;
	width: 300px;
	height: 300px;
}

.questionCard {
	background-color: #3399ff;
	border: thick solid #32a1ce;
	width: 100%;
	height: 300px;
}

/*Style the buttons*/
/*.allTheButtons{
	border: thick solid black;
	position: fixed;
	bottom: inherit;
	right: 50%;
}
*/

.questionContent{
	display: flex;
	height: 300px;
	flex-direction: column;

	justify-content: space-between;


}

.questionContent *{

	width: 50%;
}

.allTheButtons{

	display: flex;

}



/*Style the answer card*/
.answerImage {
	float: left;
	margin-right: 1em;
	width: 300px;
	height: 300px;


	/*To hide an image use `display:none`*/

}

.score{
	font-size: 2em;
	font-family: monospace;
}
























