
.osiHeader {
	font-size: 4em;
	color: #ffd700;
}



.osi {
	background-color: blue;
	border: thick solid #32a1ce;
	width: 100%;
	min-height: 100px;
}

.answerCard {
	background-color: green;
	border: thick solid #32a1ce;
	width: 100%;
	height: 100%;
}

.questionCard {
	background-color: grey;
	border: thick solid #32a1ce;
	width: 100%;
	height: 200px;
}

.score {
	background-color: red;
	border: thick solid #32a1ce;
	width: 100%;
	height: 50px;
}


/*I decided to use grid to make my layout this time*/
.mainStructure {
  display: grid;
  grid-template-areas:
      "osi answerCard"
      "osi answerCard"
      "score answerCard"
	  "questionCard questionCard";
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.osi {
  grid-area: osi;
}

.answerCard {
  grid-area: answerCard;
}

.questionCard {
  grid-area: questionCard;
}

.score {
  grid-area: score;
}



/*Style the question card*/
.questionImage {
	float: left;
	margin-right: 1em;
}




/*Style the answer card*/
.answerImage {
	float: left;
	margin-right: 1em;
	/*To hide an image use `display:none`*/

}

























